@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: local("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'Merriweather', serif;
    src: local("../fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: 'ProximaNovaCond-Bold';
    src: url('../fonts/ProximaNovaCond-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centerContent {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #0f5f5c;
    font-weight: 400;
}

/*********************************DROPDOUN***************************************/

.dropdown {
    display: none;
}

.dropdown img {
    display: block;
    width: 40px;
    height: 40px;
    opacity: 0.9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #296365;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content nav {
    display: flex;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*******************************************************************************/

#header {
    background-color: #eef1ec;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.boxLogo {
    display: flex;
    align-items: center;
}

.boxLogo a {
    text-decoration: none;
    color: #83a7a5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7px;
}

.lineImg {
    margin: 0 26px 0 25px;
}

nav {
    display: flex;
}

nav div {
    padding: 12px 12px;
}

nav a {
    text-decoration: none;
    color: #83a7a5;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 8px;
}

nav div:hover {
    background-color: #789d9d;
    border-radius: 2px;
    color: white;
}

nav div:hover a {
    color: white;
}

.h2Content {
    margin: 79px auto;
    text-align: center;
}

.h2Content p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #83a7a5;
    line-height: 20px;
}

.greenLine {
    background-image: url("../img/greenLine.png");
    height: 1px;
    width: 65px;
    margin: 21px auto;
}

#download {
    background-image: url("../img/forDownload.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fontDownload {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #0f5f5c;
}

.textDownload {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #83a7a5;
}

.flexDownload a {
    display: block;
    padding: 16px 0;
    width: 285px;
    text-align: center;
    color: #ffffff;
    background-color: #6fb048;
    text-decoration: none;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.flexDownload a:hover {
 background-color: green;
}

.flexDownload {
    display: flex;
    justify-content: space-between;
    padding: 74px 0 79px;
}

.topFooter {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.topFooter > div {
    display: flex;
    flex-direction: column;
}

.wapikList p {
    font-family: 'ProximaNovaCond-Bold';
    font-size: 22px;
    color: #0f5f5c;
}

.topFooter a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #83a7a5;
    padding-top: 12px;
}

.topFooter a:hover {
    color: #0f5f5c;
}

.companyList p, .othersList p, .newsLetter p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #0f5f5c;
    font-weight: bold;
    margin-bottom: 12px;
}

.newsLetter span p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #83a7a5;
    margin-top: 12px;
}

.newsLetter input {
    width: 241px;
    height: 36px;
    background-color: #eef1ec;
    padding: 0 16px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    background-image: url("../img/plane.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    outline: none;
}

.newsLetter input:focus {
    background-image: none;
}

.newsLetter ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #83a7a5;
}

.buttonFooter {
    border-top: solid 1px #eef1ec;
    margin-top: 60px;
}

.reserved {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #83a7a5;
}

.buttonFooter {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon img {
    margin-left: 5px;
}

#googleMap iframe {
    width: 100%;
    height: 400px;
}

#touchWithUs {
    background-color: #ffffff;
}

.dataCollection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.dataEntry {
   width: 510px;
}

.dataEntry textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 124px;
    margin-bottom: 25px;
    padding: 16px 19px 0;
    outline: none;
    border: solid 1px #83a7a5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.dataEntry input {
    display: block;
    height: 46px;
    width: 100%;
    padding: 0 19px;
    margin-bottom: 25px;
    border: solid 1px #83a7a5;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.dataEntry ::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #83a7a5;
}

.dataEntry button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    width: 192px;
    height: 42px;
    background-color: #6fb048;
    border-radius: 3px;
    border: none;
    margin-bottom: 25px;
}

.dataEntry button:hover {
    background-color: green;
}

.cardInfo {
    width: 340px;
    height: 271px;
    border: 2px dashed #c1d3d2;
    padding: 37px 0 0 40px;
}

.cardInfo > div {
    display: flex;
    align-items: start;
}

.cardInfo > p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #0f5f5c;
    margin-bottom: 26px;
}

.cardInfo div p, .cardInfo div a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #8badab;
    text-decoration: none;
}

.cardInfo div span {
    color: #0f5f5c;
    font-weight: bold;
}

.pointer {
    margin-bottom: 31px;
    line-height: 20px;
}

.greebPhone {
    margin-bottom: 21px;
}

.cardInfo .greenMessage {
    align-items: center;
}

.cardInfo img {
    margin-right: 12px;
}

/***************************@MEDIA*******************************/
@media (max-width: 900px) {
    .dataCollection {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .cardInfo {
        min-height: 300px;
        width: 250px;
        padding: 5px 5px;
    }

    .dataEntry {
        width: 435px;
        text-align: center;
    }
}

@media (max-width: 850px) {
    .flexDownload {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .flexDownload p, a {
        margin: 15px 0;
    }
}

@media (max-width: 830px) {
    .boxNavigation nav {
        display: none;
    }

    .header {
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .dropdown {
        display: block;
    }

    .topFooter {
        display: none;
    }
}

@media (max-width: 450px) {

    .buttonFooter {
        flex-direction: column-reverse;
    }

    .icon {
        padding: 10px 0;
    }
    .dataEntry {
        width: 315px;
    }
}
