.dropTopFooter {
    display: none;
}

.dropTopFooter p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #0f5f5c;
    margin: 15px 0 0 20px;
}

.dropdownContentFooter {
    display: none;
    background-color: #94b3b1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    margin: 5px 50px;
}

.dropdownContentFooter a, .dropdownContentFooter span {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px 0;
    text-align: left;
}
.dropdownContentFooter input {
    width: 100%;
    height: 36px;
    background-color: #eef1ec;
    padding: 0 16px;
    margin-bottom: 10px ;
    border: none;
    border-radius: 2px;
    background-image: url("../img/plane.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.dropdownContentFooter a:hover {
    color: #0f5f5c;
}
.dropTopFooter:hover .dropdownContentFooter {
    display: block;
}
@media (max-width: 830px) {
    .dropTopFooter {
        display: block;
    }
}